*~
/autom4te.cache/
/.cproject
/.gitignore
/.project
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/config.log
/configure
/depcomp
/install-sh
/ltmain.sh
/Makefile.in
/missing
/test-driver

/.settings/
/.autotools
/GITREF
/build
/local