Source: kvbufrd
Section: science
Priority: extra
Maintainer: kvalobs <kvalobs@met.no>
Build-Depends: debhelper, autotools-dev, autoconf-archive, debconf, devscripts, fakeroot,
 automake, libtool, lsb-base, g++ (>= 4.6), gfortran (>= 4.8), 
 sqlite3 (>= 3.3.8), libsqlite3-dev (>= 3.3.8),
 libboost-dev (>= 1.33.1), libboost-thread-dev (>= 1.33.1), 
 libboost-regex-dev (>= 1.33.1), libboost-filesystem-dev (>= 1.33.1),
 libboost-program-options-dev (>= 1.33.1), libomniorb4-dev (>= 4.0.6),
 metlibs-putools-dev (>= 3.0), libkvcpp-dev (>= 5.0.4)

Package: kvbufrd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},  sqlite3
Description: A bufr encoder for kvalobs.
 Kvalobs is a quality assurance system for meteorological observations.

Package: kvbufrconf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A bufr encoder for kvalobs.
 Kvalobs is a quality assurance system for meteorological observations.

